@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

:root {
  --ui-font: "Jersey 15", monospace;
}
@import url(
  "https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap"
);

@import "./styles/background.css";
@import "./styles/hero.css";
@import "./styles/menu.css";
@import "./styles/intro.css";

:root {
  font-family: "Share Tech Mono", monospace;

  font-synthesis: none;
  text-rendering: geometricPrecision;

  color: #edf0ef;
  background: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

html,
body {
  min-width: 320px;

  overflow: hidden;

  background: #000000;
}

button {
  font: inherit;
}

.homepage {
  position: fixed;
  inset: 0;

  overflow: hidden;

  background: #000000;
}

/* ===========================
   CUSTOM RETRO CURSOR
=========================== */

*,
*::before,
*::after {
  cursor:
    url("/cursors/cursor.svg") 0 0,
    auto !important;
}

body.grabbing-cursor,
body.grabbing-cursor *,
body.grabbing-cursor *::before,
body.grabbing-cursor *::after {
  cursor:
    url("/cursors/cursor-click.svg") 0 0,
    grabbing !important;
}

a,
button,
input,
textarea,
select {
  cursor:
    url("/cursors/cursor.svg") 0 0,
    pointer !important;
}